<div class="user-votes">

  <a href="/profile/{{ profile.account }}" rel='tooltip' data-toggle="tooltip" data-placement="top" title="{{ profile.name }} @{{ profile.account }}">
          <img alt="{{ profile.name }}" class="image-rounded user-avatar" height="27" src="{{ profile.avatar }}" width="27">
  </a>

</div>